.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent
{
    border-color: #92c1f0;
    border-style: solid;
    border-width: 3px 2px 2px;
    overflow: hidden;
    padding: 6px;
}

.redTheme .gwt-TabLayoutPanel .gwt-TabLayoutPanelContent
{
    border-color: #f0777f;
}

.yellowTheme .gwt-TabLayoutPanel .gwt-TabLayoutPanelContent
{
    border-color: #ebf09b;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab
{
    margin-left: 0px;
    padding: 3px 6px 3px 6px;
    cursor: pointer;
    cursor: hand;
    color: black;
    font-weight: bold;
    text-align: center;
    background: #d0e4f6;
}

.redTheme .gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
    background: #f0b6bb;
}

.yellowTheme .gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
    background: #f0e3c0;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected
{
    cursor: default;
    background: #92c1f0;
}

.redTheme .gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected
{
    background: #f0777f;
}

.yellowTheme .gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected
{
    background: #ebf09b;
}

.tabText {
    color: #027DCE;
    font: bold 13px helvetica,arial,verdana,sans-serif;
    margin-bottom: -1px;
    padding-bottom: 5px;
    display: block;
}

.redTheme .tabText {
    color: #f03f48;
}

.yellowTheme .tabText {
    color: #f0ee19;
}