@external gwt-TabLayoutPanel, gwt-TabLayoutPanelContent, gwt-TabLayoutPanelTab, gwt-TabLayoutPanelTab-selected, tabText;

.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent
{
    border-color: #92c1f0;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
    background: #d0e4f6;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected
{
    background: #92c1f0;
}

.tabText {
    color: #027DCE;
}
