@external gwt-TabLayoutPanel, gwt-TabLayoutPanelContent, gwt-TabLayoutPanelTab, gwt-TabLayoutPanelTab-selected, tabText;

.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent
{
    border-color: #f0777f;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
    background: #f0b6bb;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected
{
    background: #f0777f;
}

.tabText {
    color: #f03f48;
}
