@font-face {
    font-family: 'DroidSans';
    src: url('DroidSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DroidSansBold';
    src: url('DroidSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DroidSansRegular';
    src: url('DroidSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/**/
@def whiteBG #ffffff;
@def buttonBorder #e2e2e2;
@def buttonBG #ebebeb;
@def textColor1 #757575;
@def textColor2 #606060;
@def textColor3 #404040;
@def border1 #afafaf;

.buttonSimple, .buttonSimpleOver, .buttonSimplePressed, .buttonSimpleDisabled {
    height: 32px;
    line-height: 32px;
    min-width: 32px;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    vertical-align: middle;
    white-space:nowrap;
    overflow: hidden;
    cursor: default;
    position: relative;
}

.buttonText {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    text-align: center;
    display : inline;
}

.buttonSimpleGradient, .buttonSimpleGradientOver, .buttonSimpleGradientDisabled, .buttonSimpleGradientPressed {
    position: absolute;
    z-index: 10;
    max-width: 20px;
    width: 20%;
    right: 0;
    height: 32px;
    line-height: 32px;
    display : inline;
    background: -webkit-linear-gradient(right, whiteBG 50%, rgba(255, 255, 255, 0) 50%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, whiteBG 50%, rgba(255, 255, 255, 0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, whiteBG 50%, rgba(255, 255, 255, 0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to left, whiteBG 50% , rgba(255, 255, 255, 0)); /* Standard syntax */
}

.buttonSimpleGradientPressed {
    background: -webkit-linear-gradient(right, buttonBG 50%, rgba(255, 255, 255, 0) 50%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, buttonBG 50%, rgba(255, 255, 255, 0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, buttonBG 50%, rgba(255, 255, 255, 0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to left, buttonBG 50% , rgba(255, 255, 255, 0)); /* Standard syntax */
}

.buttonSimple {
    background-color: whiteBG;
    border-color: buttonBorder;
    color: textColor2;
}

.buttonSimpleOver {
    background-color: whiteBG;
    border-color: border1;
    color: textColor3;
}

.buttonSimpleDisabled {
    background-color: whiteBG;
    border-color: buttonBorder;
    color: border1;
}

.buttonSimplePressed {
    background-color: buttonBG;
    border-color: border1;
    color: textColor3;
}

.mainTextBold {
    font-family: DroidSansBold, sans-serif ;
    font-size:13pt;
}

.paddingElement {
    padding-left: 10px;
}
