@font-face {
    font-family: 'DroidSansBold';
    src: url('droid/bold/DroidSans-Bold-webfont.eot');
    src: local('Droid Sans Bold'),
    url('droid/bold/DroidSans-Bold.ttf') format('truetype'),
    url('droid/bold/DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('droid/bold/DroidSans-Bold-webfont.woff') format('woff'),
    url('droid/bold/DroidSans-Bold-webfont.svg#DroidSansBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DroidSans';
    src: url('droid/regular/DroidSans-webfont.eot');
    src: local('Droid Sans'),
    url('droid/regular/DroidSans.ttf') format('truetype'),
    url('droid/regular/DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
    url('droid/regular/DroidSans-webfont.woff') format('woff'),
    url('droid/regular/DroidSans-webfont.svg#DroidSans') format('svg');
    font-weight: normal;
    font-style: normal;
}
/**/
@def whiteBG #ffffff;
@eval whiteBG_0 kz.arta.synergy.components.style.client.ColorUtils.toRgba("#ffffff","0");
@def buttonBorder #e2e2e2;
@def buttonBG #ebebeb;
@eval buttonBG_0 kz.arta.synergy.components.style.client.ColorUtils.toRgba("#ebebeb","0");
@def textColor1 #757575;
@def textColor2 #606060;
@def textColor3 #404040;
@def border1 #afafaf;
@def mainBg #373d49;
@eval mainBg_0 kz.arta.synergy.components.style.client.ColorUtils.toRgba("#373d49","0");
@def buttonPressed #d6d6d6;

@def approveButtonBG1 #93c5ae;
@def approveButtonBG2 #55cc95;
@eval approveButtonBG2_0 kz.arta.synergy.components.style.client.ColorUtils.toRgba("#55cc95","0");
@def approveButtonBG3 #49b785;
@eval approveButtonBG3_0 kz.arta.synergy.components.style.client.ColorUtils.toRgba("#49b785","0");
@def approveButtonBG4 #28a66d;
@eval approveButtonBG4_0 kz.arta.synergy.components.style.client.ColorUtils.toRgba("#28a66d","0");
@def approveButtonBG5 #239260;

@def declineButtonBG1 #ecacad;
@def declineButtonBG2 #f47172;
@eval declineButtonBG2_0 kz.arta.synergy.components.style.client.ColorUtils.toRgba("#f47172","0");
@def declineButtonBG3 #df6c6d;
@eval declineButtonBG3_0 kz.arta.synergy.components.style.client.ColorUtils.toRgba("#df6c6d","0");
@def declineButtonBG4 #b05253;
@eval declineButtonBG4_0 kz.arta.synergy.components.style.client.ColorUtils.toRgba("#b05253","0");

@def stackPanelText2 #808080;
@def selectColor #deefff;
@def tabBg2 #f9f9f9;

/* переписывает direction даже если не подгружается standard_rtl.css */
*[dir="rtl"] {
    direction: rtl;
}

@eval buttonHeight kz.arta.synergy.components.style.client.Constants.buttonHeight();
@eval buttonMinWidth kz.arta.synergy.components.style.client.Constants.buttonMinWidth();
@eval borderWidth kz.arta.synergy.components.style.client.Constants.borderWidth();
.buttonSimple, .approveButton, .declineButton, .dropDownButton {
    height: buttonHeight;
    line-height: buttonHeight;
    min-width: buttonMinWidth;
    border: borderWidth solid;
    border-radius: 4px;
    overflow: hidden;
    cursor: default;
    text-align: center;

    white-space: nowrap;
    display: inline-block;
}

.buttonSimple.edge, .approveButton.edge, .declineButton.edge {
    border-radius: 0;
}

.buttonSimple.left, .approveButton.left, .declineButton.left {
    border-radius: 4px 0 0 4px;
}


.buttonSimple.right, .approveButton.right, .declineButton.right {
    border-radius: 0 4px 4px 0;
}

.buttonSimple {
    background-color: whiteBG;
    border-color: buttonBorder;
    color: textColor2;
}

.buttonText {
    vertical-align: top;
    white-space:nowrap;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

@eval gradientTopMargin kz.arta.synergy.components.style.client.Constants.gradientTopMargin();
.gradient {
    max-width: 20px;
    width: 20%;
    height: buttonHeight;
    float: right;
    margin-top: gradientTopMargin;
    position: relative;
}

.buttonSimple .gradient {
    background: -moz-linear-gradient(left, whiteBG_0 0%, whiteBG 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,whiteBG_0), color-stop(100%,whiteBG));
    background: -webkit-linear-gradient(left, whiteBG_0 0%,whiteBG 100%);
    background: -o-linear-gradient(left, whiteBG_0 0%,whiteBG 100%);
    background: -ms-linear-gradient(left, whiteBG_0 0%,whiteBG 100%);
    background: linear-gradient(to right, whiteBG_0 0%,whiteBG 100%);
}

*[dir="rtl"] .buttonSimple .gradient {
    background: -moz-linear-gradient(left, whiteBG 0%, whiteBG_0 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,whiteBG), color-stop(100%,whiteBG_0));
    background: -webkit-linear-gradient(left, whiteBG 0%,whiteBG_0 100%);
    background: -o-linear-gradient(left, whiteBG 0%,whiteBG_0 100%);
    background: -ms-linear-gradient(left, whiteBG 0%,whiteBG_0 100%);
    background: linear-gradient(to right, whiteBG 0%,whiteBG_0 100%);
}

.pressed.buttonSimple .gradient{
    background: -moz-linear-gradient(left, buttonBG_0 0%, buttonBG 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,buttonBG_0), color-stop(100%,buttonBG));
    background: -webkit-linear-gradient(left, buttonBG_0 0%,buttonBG 100%);
    background: -o-linear-gradient(left, buttonBG_0 0%,buttonBG 100%);
    background: -ms-linear-gradient(left, buttonBG_0 0%,buttonBG 100%);
    background: linear-gradient(to right, buttonBG_0 0%,buttonBG 100%);
}

*[dir="rtl"] .pressed.buttonSimple .gradient{
    background: -moz-linear-gradient(left, buttonBG 0%, buttonBG_0 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,buttonBG), color-stop(100%,buttonBG_0));
    background: -webkit-linear-gradient(left, buttonBG 0%,buttonBG_0 100%);
    background: -o-linear-gradient(left, buttonBG 0%,buttonBG_0 100%);
    background: -ms-linear-gradient(left, buttonBG 0%,buttonBG_0 100%);
    background: linear-gradient(to right, buttonBG 0%,buttonBG_0 100%);
}

.approveButton .gradient{
    background: -moz-linear-gradient(left, approveButtonBG3_0 0%, approveButtonBG3 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,approveButtonBG3_0), color-stop(100%,approveButtonBG3));
    background: -webkit-linear-gradient(left, approveButtonBG3_0 0%,approveButtonBG3 100%);
    background: -o-linear-gradient(left, approveButtonBG3_0 0%,approveButtonBG3 100%);
    background: -ms-linear-gradient(left, approveButtonBG3_0 0%,approveButtonBG3 100%);
    background: linear-gradient(to right, approveButtonBG3_0 0%,approveButtonBG3 100%);
}

*[dir="rtl"] .approveButton .gradient{
    background: -moz-linear-gradient(left, approveButtonBG3 0%, approveButtonBG3_0 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,approveButtonBG3), color-stop(100%,approveButtonBG3_0));
    background: -webkit-linear-gradient(left, approveButtonBG3 0%,approveButtonBG3_0 100%);
    background: -o-linear-gradient(left, approveButtonBG3 0%,approveButtonBG3_0 100%);
    background: -ms-linear-gradient(left, approveButtonBG3 0%,approveButtonBG3_0 100%);
    background: linear-gradient(to right, approveButtonBG3 0%,approveButtonBG3_0 100%);
}

.approveButton:hover .gradient{
    background: -moz-linear-gradient(left, approveButtonBG2_0 0%, approveButtonBG2 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,approveButtonBG2_0), color-stop(100%,approveButtonBG2));
    background: -webkit-linear-gradient(left, approveButtonBG2_0 0%,approveButtonBG2 100%);
    background: -o-linear-gradient(left, approveButtonBG2_0 0%,approveButtonBG2 100%);
    background: -ms-linear-gradient(left, approveButtonBG2_0 0%,approveButtonBG2 100%);
    background: linear-gradient(to right, approveButtonBG2_0 0%,approveButtonBG2 100%);
}

*[dir="rtl"] .approveButton:hover .gradient{
    background: -moz-linear-gradient(left, approveButtonBG2 0%, approveButtonBG2_0 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,approveButtonBG2), color-stop(100%,approveButtonBG2_0));
    background: -webkit-linear-gradient(left, approveButtonBG2 0%,approveButtonBG2_0 100%);
    background: -o-linear-gradient(left, approveButtonBG2 0%,approveButtonBG2_0 100%);
    background: -ms-linear-gradient(left, approveButtonBG2 0%,approveButtonBG2_0 100%);
    background: linear-gradient(to right, approveButtonBG2 0%,approveButtonBG2_0 100%);
}


.approveButton.pressed .gradient{
    background: -moz-linear-gradient(left, approveButtonBG4_0 0%, approveButtonBG4 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,approveButtonBG4_0), color-stop(100%,approveButtonBG4));
    background: -webkit-linear-gradient(left, approveButtonBG4_0 0%,approveButtonBG4 100%);
    background: -o-linear-gradient(left, approveButtonBG4_0 0%,approveButtonBG4 100%);
    background: -ms-linear-gradient(left, approveButtonBG4_0 0%,approveButtonBG4 100%);
    background: linear-gradient(to right, approveButtonBG4_0 0%,approveButtonBG4 100%);
}

*[dir="rtl"] .approveButton.pressed .gradient{
    background: -moz-linear-gradient(left, approveButtonBG4 0%, approveButtonBG4_0 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,approveButtonBG4), color-stop(100%,approveButtonBG4_0));
    background: -webkit-linear-gradient(left, approveButtonBG4 0%,approveButtonBG4_0 100%);
    background: -o-linear-gradient(left, approveButtonBG4 0%,approveButtonBG4_0 100%);
    background: -ms-linear-gradient(left, approveButtonBG4 0%,approveButtonBG4_0 100%);
    background: linear-gradient(to right, approveButtonBG4 0%,approveButtonBG4_0 100%);
}


.declineButton .gradient {
    background: -moz-linear-gradient(left, declineButtonBG3_0 0%, declineButtonBG3 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,declineButtonBG3_0), color-stop(100%,declineButtonBG3));
    background: -webkit-linear-gradient(left, declineButtonBG3_0 0%,declineButtonBG3 100%);
    background: -o-linear-gradient(left, declineButtonBG3_0 0%,declineButtonBG3 100%);
    background: -ms-linear-gradient(left, declineButtonBG3_0 0%,declineButtonBG3 100%);
    background: linear-gradient(to right, declineButtonBG3_0 0%,declineButtonBG3 100%);
}

*[dir="rtl"] .declineButton .gradient{
    background: -moz-linear-gradient(left, declineButtonBG3 0%, declineButtonBG3_0 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,declineButtonBG3), color-stop(100%,declineButtonBG3_0));
    background: -webkit-linear-gradient(left, declineButtonBG3 0%,declineButtonBG3_0 100%);
    background: -o-linear-gradient(left, declineButtonBG3 0%,declineButtonBG3_0 100%);
    background: -ms-linear-gradient(left, declineButtonBG3 0%,declineButtonBG3_0 100%);
    background: linear-gradient(to right, declineButtonBG3 0%,declineButtonBG3_0 100%);
}

.declineButton:hover .gradient{
    background: -moz-linear-gradient(left, declineButtonBG2_0 0%, declineButtonBG2 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,declineButtonBG2_0), color-stop(100%,declineButtonBG2));
    background: -webkit-linear-gradient(left, declineButtonBG2_0 0%,declineButtonBG2 100%);
    background: -o-linear-gradient(left, declineButtonBG2_0 0%,declineButtonBG2 100%);
    background: -ms-linear-gradient(left, declineButtonBG2_0 0%,declineButtonBG2 100%);
    background: linear-gradient(to right, declineButtonBG2_0 0%,declineButtonBG2 100%);
}

*[dir="rtl"] .declineButton:hover .gradient{
    background: -moz-linear-gradient(left, declineButtonBG2 0%, declineButtonBG2_0 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,declineButtonBG2), color-stop(100%,declineButtonBG2_0));
    background: -webkit-linear-gradient(left, declineButtonBG2 0%,declineButtonBG2_0 100%);
    background: -o-linear-gradient(left, declineButtonBG2 0%,declineButtonBG2_0 100%);
    background: -ms-linear-gradient(left, declineButtonBG2 0%,declineButtonBG2_0 100%);
    background: linear-gradient(to right, declineButtonBG2 0%,declineButtonBG2_0 100%);
}

.pressed.declineButton .gradient{
    background: -moz-linear-gradient(left, declineButtonBG4_0 0%, declineButtonBG4 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,declineButtonBG4_0), color-stop(100%,declineButtonBG4));
    background: -webkit-linear-gradient(left, declineButtonBG4_0 0%,declineButtonBG4 100%);
    background: -o-linear-gradient(left, declineButtonBG4_0 0%,declineButtonBG4 100%);
    background: -ms-linear-gradient(left, declineButtonBG4_0 0%,declineButtonBG4 100%);
    background: linear-gradient(to right, declineButtonBG4_0 0%,declineButtonBG4 100%);
}

*[dir="rtl"] .declineButton.pressed .gradient{
    background: -moz-linear-gradient(left, declineButtonBG4 0%, declineButtonBG4_0 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,declineButtonBG4), color-stop(100%,declineButtonBG4_0));
    background: -webkit-linear-gradient(left, declineButtonBG4 0%,declineButtonBG4_0 100%);
    background: -o-linear-gradient(left, declineButtonBG4 0%,declineButtonBG4_0 100%);
    background: -ms-linear-gradient(left, declineButtonBG4 0%,declineButtonBG4_0 100%);
    background: linear-gradient(to right, declineButtonBG4 0%,declineButtonBG4_0 100%);
}

.dialogTitle .gradient{
    background: -moz-linear-gradient(left,  mainBg_0 0%, mainBg 50%, mainBg 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,mainBg_0), color-stop(50%,mainBg), color-stop(100%,mainBg)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  mainBg_0 0%,mainBg 50%,mainBg 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  mainBg_0 0%,mainBg 50%,mainBg 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  mainBg_0 0%,mainBg 50%,mainBg 100%); /* IE10+ */
    background: linear-gradient(to right,  mainBg_0 0%,mainBg 50%,mainBg 100%); /* W3C */
}

.buttonSimple:hover {
    background-color: whiteBG;
    border-color: border1;
    color: textColor3;
}

.buttonSimple.disabled {
    background-color: whiteBG;
    border-color: buttonBorder;
    color: border1;
}

.buttonSimple.disabled img {
    /*без фона ie странно применяет фильтр прозрачности*/
    background-color: whiteBG;
}


.buttonSimple.pressed {
    background-color: buttonBG;
    border-color: border1;
    color: textColor3;
}

@eval approveButtonMinWidth kz.arta.synergy.components.style.client.Constants.buttonApproveMinWidth();
.approveButton {
    background-color: approveButtonBG3;
    border-color: approveButtonBG3;
    color: whiteBG;
    min-width: approveButtonMinWidth;
}

.approveButton:hover {
    background-color: approveButtonBG2;
    border-color: approveButtonBG2;
    color: whiteBG;
}

.approveButton.pressed {
    background-color: approveButtonBG4;
    border-color: approveButtonBG4;
    color: whiteBG;
}

.approveButton.disabled {
    background-color: approveButtonBG1;
    border-color: approveButtonBG1;
    color: whiteBG;
}


.declineButton {
    background-color: declineButtonBG3;
    border-color: declineButtonBG3;
    color: whiteBG;
    min-width: approveButtonMinWidth;
}

.declineButton:hover {
    background-color: declineButtonBG2;
    border-color: declineButtonBG2;
    color: whiteBG;
}

.declineButton.disabled {
    background-color: declineButtonBG1;
    border-color: declineButtonBG1;
    color: whiteBG;
}

.declineButton.pressed {
    background-color: declineButtonBG4;
    border-color: declineButtonBG4;
    color: whiteBG;
}


.mainTextBold {
    font-family: DroidSansBold;
    font-size:14px;
}

.mainText {
    font-family: DroidSans;
    font-size:14px;
}

.bigText {
    font-family: DroidSansBold;
    font-size:16px;
}

.indicatorNumber {
    font-family: DroidSans;
    font-size:13px;
}

@eval dialogTitleHeight kz.arta.synergy.components.style.client.Constants.dialogTitleHeight();

.dialogTitle {
    background: mainBg;
    height: dialogTitleHeight;
    line-height: dialogTitleHeight;
}

@eval dialogTitleLeftMargin kz.arta.synergy.components.style.client.Constants.dialogTitleLeftMargin();
@eval dialogTitleLabelRightPadding kz.arta.synergy.components.style.client.Constants.dialogTitleLabelRightPadding();

.dialogTitleLabel {
    font-family: DroidSansBold;
    font-size:16px;
    margin-left: dialogTitleLeftMargin;
    padding-right: dialogTitleLabelRightPadding;
    vertical-align: middle;
    color: whiteBG;
    height: dialogTitleHeight;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

@eval dialogBorderWidth kz.arta.synergy.components.style.client.Constants.dialogBorderWidth();
@eval dialogMinWidth kz.arta.synergy.components.style.client.Constants.dialogMinWidth();

.dialog {
    background: whiteBG;
    min-width: dialogMinWidth;
    min-height: 84px;

    border: dialogBorderWidth solid border1;
}

@eval dialogCloseButtonPadding kz.arta.synergy.components.style.client.Constants.dialogCloseButtonPadding();

.dialogTitleButton {
    padding: dialogCloseButtonPadding;
    margin-top: 8px;
    float: right;
    background-repeat: no-repeat;
}

@eval dialogContentPadding kz.arta.synergy.components.style.client.Constants.dialogContentPadding();
.dialogContent {
    padding: dialogContentPadding;
}

.dialogWithButtons .dialogContent {
    padding-bottom: 0px;
}

.popupPanel {
    padding : 0px;
}

@eval dialogButtonVMargin kz.arta.synergy.components.style.client.Constants.dialogNavigationButtonVMargin();
.dialogButton {
    margin-top: dialogButtonVMargin;
    margin-bottom: dialogButtonVMargin;
    display: inline-block;
}

@eval dialogButtonMargin kz.arta.synergy.components.style.client.Constants.dialogNavigationButtonMargin();
.dialogBackButton {
    margin-left: dialogButtonMargin;
}
.dialogMoreButton {
    margin-right: dialogButtonMargin;
}

.dropDownButton {
    border: borderWidth solid buttonBorder;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: buttonBG;

    position: relative;
    top: -1px;
    right: -1px;
}
.dropDownButton:hover {
    border-color: border1;
}
.dropDownButton:active {
    background-color: buttonPressed;
    border-color: border1;
}
.disabled .dropDownButton {
    background-color: whiteBG;
}

.approveButton .dropDownButton {
    background-color: approveButtonBG4;
    border-color: approveButtonBG4;
}
.approveButton .dropDownButton:active {
    background-color: approveButtonBG5;
}
.approveButton.disabled .dropDownButton {
    background-color: approveButtonBG1;
}

.contextMenuItem {
    display: block;
    border: 0px;
    padding-left: 10px;
    padding-right: 10px;
    height: 32px;
    line-height: 32px;
    overflow: hidden;
}
.contextMenuItem > * {
    vertical-align: middle;
}

/*здесь не используется :hover из-за возможности выделения клавиатурой*/
.contextMenuItem.over {
    background-color: selectColor;
}

.green .contextMenuItem.over{
    background-color: approveButtonBG2;
}

.contextMenu {
    font-family: DroidSans;
    font-size: 14px;

    min-width: 100px;
    min-height: 32px;
    border: borderWidth solid buttonBorder;
    background-color: whiteBG;
    color: stackPanelText2;
    vertical-align: middle;
    margin-right: 0px;
}

.contextMenu.green {
    background-color: approveButtonBG4;
    color: whiteBG;
    border-color: approveButtonBG4;
}

.menuSeparator {
    background-color: tabBg2;
    height : 1px;
    margin-left: 10px;
    margin-right: 10px;
}

.green .menuSeparator {
    background-color: approveButtonBG3;
}


@eval commonInputPadding kz.arta.synergy.components.style.client.Constants.commonInputPadding();
.commonInput, .artaText {
    border-color: buttonBorder;
    border-width: borderWidth;
    border-style: solid;
    border-radius: 4px;
    background-color: whiteBG;
    color: textColor2;
    padding: commonInputPadding;
    vertical-align: top;
    outline: none;
}

.artaText {
    border: none;
    overflow: hidden;
    width: 100%;
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:        border-box;
}

.artaTextPanel {
    border-color: buttonBorder;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    background-color: whiteBG;
    display: inline-block;
    vertical-align: top;
    padding: commonInputPadding;
}

.commonInput {
    height: 30px;
    padding: 0 8px;
}

.commonInput.disabled, .artaText.disabled, .artaTextPanel.disabled {
    background-color: buttonBG;
    color: border1;
}

.commonInput:focus, .artaText:focus, .artaTextPanel.focus {
    border-color: border1;
    color: textColor2;
}

.commonInput.invalid, .artaText.invalid, .artaTextPanel.invalid {
    border-color: declineButtonBG1;
    color: textColor2;
}

.commonInput.placeHolder, .artaText.placeHolder{
    color: border1;
}


@eval comboMinWidth kz.arta.synergy.components.style.client.Constants.comboMinWidth();
.comboBox {
    min-width: comboMinWidth;
    text-align: left;
    height: 30px;
    line-height: 30px;
    border: solid borderWidth buttonPressed;
    border-radius: 4px;

    display:inline-block;
}

.comboBox .buttonSimple {
    margin-top: -1px;
    margin-right: -1px;

    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border: borderWidth solid buttonPressed;
    background-color: buttonBG;

    display: inline-block;
}

.comboBox .buttonSimple:hover {
    border-color: border1;

}

.comboBox.pressed .buttonSimple {
    border-color: border1;
    background-color: buttonPressed;
}

.comboBox .buttonSimple:active {
    border-color: border1;
    background-color: buttonPressed;
}

.comboBox .commonInput {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 0px;
    margin: 0px;
}

.comboBox.disabled  .commonInput{
    background-color: buttonBG;
    color: border1;
}

.comboBox.disabled .buttonSimple {
    border-color: buttonPressed;
    background-color: buttonBG;
}

.vscroll {
    width: 17px;
    height: 200px;
    background-color: buttonBG;
}

.vscroll img {
    width: 17px;
    height: 17px;
    display: block;
    background-color: buttonBG;
}

.vscroll .scrollbar {
    width: 17px;
    background-color: buttonBorder;
    display: block;
    cursor: default;
}

.scrollbar.pressed {
    background-color: buttonPressed;
}

.groupButtonPanel {
    display: inline-block;
    height: 32px;
    vertical-align: top;
}
